tipicoScraper/bwinParser/.idea/bwinParser.iml
tipicoScraper/bwinParser/.idea/encodings.xml
*.png
tipicoScraper/bwinParser/bwin_BL1-Dateien/a
*.jpg
tipicoScraper/bwinParser/tipico_home-Dateien/jquery-ui.js
tipicoScraper/bwinParser/tipico_home-Dateien/jquery.js
tipicoScraper/bwinParser/tipico_home-Dateien/jquery_002.js
tipicoScraper/bwinParser/.idea/misc.xml
tipicoScraper/bwinParser/.idea/modules.xml
tipicoScraper/bwinParser/.idea/scopes/scope_settings.xml
tipicoScraper/bwinParser/.idea/vcs.xml
tipicoScraper/bwinParser/.idea/workspace.xml
tipicoScraper/bwinParser/bwin_BL1-Dateien/activityi.htm
tipicoScraper/bwinParser/bwin_BL1-Dateien/B7901808.014
tipicoScraper/bwinParser/bwin_BL1-Dateien/currency.js
tipicoScraper/bwinParser/bwin_BL1-Dateien/gtm.js
tipicoScraper/bwinParser/bwin_BL1-Dateien/jquery.js
tipicoScraper/bwinParser/bwin_BL1-Dateien/mmcore.js
tipicoScraper/bwinParser/bwin_BL1-Dateien/modernizr-2.js
tipicoScraper/bwinParser/bwin_BL1-Dateien/opentag-93917-1085336.js
tipicoScraper/bwinParser/bwin_BL1-Dateien/override.css
tipicoScraper/bwinParser/bwin_BL1-Dateien/qtracker-v3-min.js
tipicoScraper/bwinParser/bwin_BL1-Dateien/screen-l.css
tipicoScraper/bwinParser/bwin_BL1-Dateien/screen-xl.css
tipicoScraper/bwinParser/bwin_BL1-Dateien/smartserve-3115.js
tipicoScraper/bwinParser/bwin_BL1-Dateien/sports-base.css
tipicoScraper/bwinParser/bwin_BL1-Dateien/sports.js
tipicoScraper/bwinParser/tipico_home-Dateien/0083.js
tipicoScraper/bwinParser/tipico_home-Dateien/138943542.js
tipicoScraper/bwinParser/tipico_home-Dateien/2810.js
tipicoScraper/bwinParser/tipico_home-Dateien/3_3_1.faces
tipicoScraper/bwinParser/tipico_home-Dateien/analytics.js
tipicoScraper/bwinParser/tipico_home-Dateien/Availability.jsonp
tipicoScraper/bwinParser/tipico_home-Dateien/counter-94C3F7D4FA32BB1B2D4940EFF709701C.js
tipicoScraper/bwinParser/tipico_home-Dateien/a.htm
*.gif
*.faces
*.js
*.css
tipicoScraper/bwinParser/tipico_home-Dateien/js
tipicoScraper/bwinParser/tipico_home-Dateien/stmgwb2.txt
tipicoScraper/bwinParser/tipico_home-Dateien/universalTag.htm